.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid black;
  margin-bottom: 1rem;
  width: 55%;
  margin: 0 auto;
}
.container > div {
  display: flex;
  flex-direction: column;
}

.image {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin: 0.5rem;
  cursor: move;
}
.limage{
  width: 150px;
  /*height: 150px;*/
  /*border: 1px solid black;*/
  margin: 0.5rem;
  cursor: move;
}

/*.space {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
*/
.space-valid {
  border-color: green;
}
.space-invalid {
  border-color: red;
}
.space-dropped {
  background-color: lightgray;
}