body {
  background: #000 url("Multimedia/y2mate.com\ -\ pixel\ anime\ relax_360p.mp4") no-repeat center center fixed;
  background-size: cover;
}

.contenedor {
  width: 80%;
  margin: 0 auto;
  padding: 50px;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label, input, button {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  color: #fff;
}

input, button {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #f00;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.2s;
}

input:focus, button:focus {
  outline: none;
}

input:hover, button:hover {
  background-color: #c00;
  cursor: pointer;
}

.video-container{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container{
  position: relative;
  height: 100vh;
}

.video-container video{
  position: relative;
  top: 50%;
  left: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: translate(-50%,-50%);
}

#user-list {
  visibility: visible;
  display: table;
  width: 99%;
  border-collapse: collapse;
  list-style: none;
  padding: 0;
  margin: 5px;
}

li {
  display: table-row;
  transition: background-color 1s ease-in-out;
  width: 50%;
}

li:nth-child(even) {
  background-color: #f2f2f2;
}

li:first-child {
  font-weight: bold;
}

li:hover {
  background-color: #ddd;
}

@keyframes changeBackground {
  0% {
    background-color: #eb1c1c;
  }
  50% {
    background-color: #35e035;
  }
  100% {
    background-color: #ccccff;
  }
}

li:nth-child(2n+1) {
  animation: changeBackground 3s infinite;
}

.puntajes {
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}